
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --black: #000;
    --dark: #111;
    --gray: #666;
    --max-width: 880px;
    --font-display: 'Space Grotesk', sans-serif;
    --font-body: 'Manrope', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-body);
    font-weight: 400;
    color: #111;
    color: var(--dark);
    background: #f7f7f7;
}

h1, h2, h3 {
  font-family: var(--font-display);
  font-weight: 600;
  letter-spacing: -0.5px;
}
section {
  padding-top: 180px;
}