---
import { getEntry } from "astro:content";

const about = await getEntry("pages", "about");

if (!about) {
  throw new Error("About content not found");
}

const { Content } = await about.render();
---

<section class="about inner">
  <Content />
</section>
