<section class="about_me sctn pb-4"  data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <div class="text" data-scroll>
                    <p class="c-lerp-block_index pb-2" data-scroll data-scroll-speed="1">Hola, soy Alan Aguirre y me desempeño cómo diseñador visual con enfoque en soluciones creativas y de diseño digital de productos.</p>
                    <p class="c-lerp-block_index py-4" data-scroll data-scroll-speed="1">Me considero un defensor de la ejecución detallada y la experiencia adecuada del usuario, ya que ambos son igualmente importantes a la hora de crear mejores productos. Soy un amante de la tipografía y muy aficionado al diseño minimalista.</p>
                    <p class="c-lerp-block_index pt-2" data-scroll data-scroll-speed="1">Ahh y radico en Guadalajara, México.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

