<footer class="footer d-md-none">
    <div class="container d-flex justify-content-center gap-3">
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</footer>