        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary z-3" id="sideNav">
          <a class="navbar-brand js-scroll-trigger" href="/">
              <span class="d-block d-lg-none"><img class="img-fluid mx-auto mb-2" src="/assets/img/logo_.svg" width="75" alt="Logo Alan Aguirre" /></span>
              <span class="d-none d-lg-block">
                <img class="img-fluid mx-auto mb-2" src="/assets/img/logo_.svg" width="75" alt="Logo Alan Aguirre" />
              </span>
          </a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger btn-social mx-2" href="https://www.linkedin.com/in/alanaguirre/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger btn-social mx-2" href="https://www.behance.net/alanaguirre" target="_blank" aria-label="Behance"><i class="fa-brands fa-behance"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger btn-social mx-2" href="https://www.instagram.com/the_uidesigner/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
              </li>
          </ul>
          </div>
          <div class="year py-4">
            <p><span class="year" id="currentYear"></span></p>
          </div>
      </nav>