---
import { getCollection } from "astro:content";
const projects = (await getCollection("work"))
  .map((project) => ({
    ...project,
    data: {
      ...project.data,
      pubDate: new Date(project.data.pubDate), // Convierte pubDate a Date
    },
  }))
  .sort((a, b) => b.data.pubDate - a.data.pubDate); // Ordena por fecha más reciente
import Project from "@/components/Project.astro";
---


        <!-- Portfolio Grid-->
        <section class="sctn" id="portfolio" data-scroll-section>
            <div class="container-fluid">
                <div class="row d-none d-xxl-block d-xl-block ">
                    <div class="col-lg-12 bigTitle">
                        <div class="title1 w-100">
                            <h1 id="portfolioText" class="w-100 text-center">PROYECTOS </span></h1>
                        </div>
                        <div class="title2 w-100">
                            <h1 id="portfolioText" class="w-100 text-center"><span>SELECCIONADOS</span></h1>
                        </div>
                    </div>
                </div>
                <div class="row ">
                  <div class="col-lg-12 bigTitle d-block d-lg-none">
                    <div class="title1sm w-100">
                        <h1 id="portfolioText" class="w-100 text-center">PROYECTOS</h1>
                    </div>
                    <div class="title2sm w-100">
                        <h1 id="portfolioText" class="w-100 text-center"><span>SELECCIONADOS</span></h1>
                    </div>
                </div>
              </div>
                <div class="row">
                    <nav class="menu">
                        <ul>
                          {projects.map((project) => (
                            <Project {...project.data} slug={project.slug} />
                          ))}
                        </ul>
                      </nav>
            </div>
        </section>