---
import { type CollectionEntry } from 'astro:content';

type Props = CollectionEntry<"work">["data"] & {
  slug: string;
  index: number;
};

const { title, subTitle, slug, index } = Astro.props;
---

<li class="work-item">
  <a href={`/projects/${slug}`} class="work-link">

    <span class="work-number">
      {(index + 1).toString().padStart(2, '0')}
    </span>

    <div class="work-text">
      <h3 class="work-title">{title}</h3>
      <p class="work-subtitle">{subTitle}</p>
    </div>

  </a>
</li>
