
<div class="socialArea">
    <ul class="nav flex-column">
      <li class="nav-item">
        <p><span class="year" id="currentYear"></span></p>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/alanaguirre/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark btn-social mx-2" href="https://www.behance.net/alanaguirre" target="_blank" aria-label="Behance"><i class="fa-brands fa-behance"></i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/the_uidesigner/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark btn-social mx-2 copy-link" href="#" data-link="mailto:a2aj@proton.me" target="_blank" aria-label="Mail"><i class="fa-sharp fa-solid fa-paper-plane"></i></a>
      </li>
    </ul>
  </div>
  <!-- Toast -->
<div id="copyToast" class="toast align-items-center text-bg-success border-0 position-fixed bottom-0 end-0 m-3" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Email copiado!!!
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>
