<section class="services" data-scroll-section>
  <div class="service py-5" data-keep>
    <div class="service__content" data-scroll data-scroll-speed="1">
        <h2>De Figma a Código</h2>
        <p>Transformo diseños en interfaces funcionales y responsivas.</p>
    </div>
    <div data-scroll data-scroll-speed="2">
      <div class="glitch-container">
        <i class="fa-brands fa-figma glitch-icon main-icon figma-icon"></i>
        <i class="fa-brands fa-figma glitch-icon glitch-top"></i>
        <i class="fa-brands fa-figma glitch-icon glitch-middle"></i>
        <i class="fa-brands fa-figma glitch-icon glitch-bottom"></i>
    </div>
    </div>
  </div>

  <div class="service py-5" data-keep>
    <div class="service__content" data-scroll data-scroll-speed="1">
        <h2>Diseño Visual</h2>
        <p>Creo experiencias atractivas y funcionales para los usuarios.</p>
    </div>
    <div data-scroll data-scroll-speed="2">
      <div class="glitch-container">
        <i class="fa-sharp fa-solid fa-palette glitch-icon main-icon design-icon"></i>
        <i class="fa-sharp fa-solid fa-palette glitch-icon glitch-top"></i>
        <i class="fa-sharp fa-solid fa-palette glitch-icon glitch-middle"></i>
        <i class="fa-sharp fa-solid fa-palette glitch-icon glitch-bottom"></i>
      </div>
    </div>
  </div>

  <div class="service py-5" data-keep>
    <div class="service__content" data-scroll data-scroll-speed="1">
      <h2>Desarrollo Interactivo</h2>
      <p>Creo experiencias dinámicas y envolventes con tecnologías avanzadas.</p>
    </div>
    <div data-scroll data-scroll-speed="2">
      <div class="glitch-container">
        <i class="fa-sharp fa-solid fa-terminal glitch-icon main-icon dev-icon"></i>
        <i class="fa-sharp fa-solid fa-terminal glitch-icon glitch-top"></i>
        <i class="fa-sharp fa-solid fa-terminal glitch-icon glitch-middle"></i>
        <i class="fa-sharp fa-solid fa-terminal glitch-icon glitch-bottom"></i>
    </div>
    </div>
  </div>

</section>