<section class="services" data-scroll-section>
    <div class="service py-5" data-keep>
      <div class="service__content" data-scroll data-scroll-speed="1">
        <h2>Figma a Desarrollo Web</h2>
        <p>Transformo tus diseños en sitios web funcionales y responsivos, optimizados para la mejor experiencia del usuario.</p>
      </div>
      <div data-scroll data-scroll-speed="2">
        <div class="animacion">
          <img src="/assets/img/figma_logo.png" alt="Figma Logo" class="figma">
          <img src="/assets/img/code.png" alt="Código" class="codigo">
        </div>
      </div>
    </div>
    <hr>
    <div class="service py-5" data-keep>
      <div class="service__content" data-scroll data-scroll-speed="1">
        <h2>Diseño Visual</h2>
        <p>Creo interfaces impactantes que combinan estética y funcionalidad, adaptadas a tus necesidades.</p>
      </div>
      <div data-scroll data-scroll-speed="2">
        <div class="contenedor">
          <div class="iconos">
            <i class="fas fa-palette"></i>
            <i class="fas fa-brush"></i>
            <i class="fas fa-pen-nib"></i>
            <i class="fas fa-vector-square"></i>
            <i class="fas fa-laptop-code"></i>
            <i class="fas fa-mobile-alt"></i>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="service py-5" data-keep>
      <div class="service__content" data-scroll data-scroll-speed="1">
        <h2>Desarrollo Interactivo</h2>
        <p>Implemento interacciones dinámicas que enriquecen la experiencia de usuario.</p>
      </div>
      <div data-scroll data-scroll-speed="2">
        <div class="glitch-container">
          <i class="fas fa-desktop glitch-icon"></i>
          <i class="fas fa-desktop glitch-top"></i>
          <i class="fas fa-desktop glitch-middle"></i>
          <i class="fas fa-desktop glitch-bottom"></i>
  
          <!-- Stripes de glitch -->
          <div class="stripe"></div>
          <div class="stripe"></div>
          <div class="stripe"></div>
      </div>
      </div>
    </div>
    <hr>
  </section>