---
import { getCollection } from 'astro:content';
import Project from '@/components/Project.astro';

const projects = (await getCollection('work')).sort(
  (a, b) => (b.data.pubDate?.getTime() || 0) - (a.data.pubDate?.getTime() || 0)
);
---

<section class="work-list data-animate">
  <h2 class="section-title">Selected Work</h2>

  <ul>
    {projects.map((project) => (
      <li class="work-item reveal">
        <a href={`/projects/${project.slug}`}>
          <span class="work-title">
            {project.data.title}
          </span>

          <span class="work-year">
            {new Date(project.data.pubDate).getFullYear()}
          </span>
        </a>
      </li>
    ))}
  </ul>
</section>
