---
import MainHead from '@/components/MainHead.astro';
import Sidebar from '@/components/Sidebar.astro';

import { ViewTransitions } from "astro:transitions";

import '@/styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead {title} {description} />
  </head>

  <body>
    <ViewTransitions />
    <div class="layout">
      
      <!-- Fixed Sidebar -->
      <Sidebar />

      <!-- Main Content -->
      <div class="content">
        <div class="inner">
          <slot />
        </div>
      </div>

    </div>
    <script is:inline>
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const items = entry.target.querySelectorAll(".reveal");

            items.forEach((item, index) => {
              setTimeout(() => {
                item.classList.add("visible");
              }, index * 100); // stagger 100ms
            });

            observer.unobserve(entry.target);
          }
        });
      }, { threshold: 0.2 });

      document.querySelectorAll("[data-animate]").forEach((section) => {
        observer.observe(section);
      });
    </script>

  </body>
</html>
