---
import MainHead from '@/components/MainHead.astro';
import Sidebar from '@/components/Sidebar.astro';

import { ViewTransitions } from "astro:transitions";

import '@/styles/global.css';
import '@/scripts/main.ts';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead {title} {description} />
  </head>

  <body>
    <ViewTransitions />
    <div class="layout">
      
      <!-- Fixed Sidebar -->
      <Sidebar />

      <!-- Main Content -->
      <div class="content">
        <div class="inner">
          <slot />
        </div>
      </div>

    </div>
  </body>
</html>
