---
import MainHead from '@/components/MainHead.astro';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import Scripts from '@/components/Scripts.astro';
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead {title} />
  </head>

    <body id="page-top" class="page">
      <main data-scroll-container>
        <!-- Cursor effect -->
          <div class="cursor"></div>
        <!-- Navbar -->
        <Navbar />
        <!-- Main Content with scroll container -->
        <div class="container-fluid p-0">
          <slot /> 
        </div>
        <Footer />
        <Scripts />
      </main>
    </body>
</html>